@import "variables.scss";

i {
    font-size: 20px;
}

#background {
    background-color: $primary;
    height: 100vh;
}

#fullnavbar {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 60px;
    text-align: center;
    #items {
        margin: 0;
        padding-top: 20vh;
    }
    a {
        color: white;
        text-decoration: none;
        border-bottom: solid 2px $primary;
        cursor: pointer;
        font-size: 25px;
    }
    a:hover {
        border-bottom: solid 2px white;
    }
    #title {
        font-weight: bold;
    }
    #navtoggle {
        
    }
}