@import "variables.scss";

body {
    ::selection {
        background: #a8d1ff;
    }
    ::-moz-selection {
        background: #a8d1ff;
    }

}

:is(button, input, textarea, summary, .accordion__button) {
    --outline-size: max(2px, 0.08em);
    --outline-style: solid;
    --outline-color: #172EA1;
}
  
:is(button, input, textarea, summary):focus {
    outline: var(--outline-size) var(--outline-style) var(--outline-color);
    outline-offset: var(--outline-offset, var(--outline-size));
}
  
:is(button, input, textarea, summary):focus-visible {
    outline: var(--outline-size) var(--outline-style) var(--outline-color);
    outline-offset: var(--outline-offset, var(--outline-size));
}
  
:is(button, input, textarea, summary):focus:not(:focus-visible) {
    outline: none;
}
  

h1, h3, h4, h5, h6 {
    text-transform: capitalize;
}

// 172EA1
p {

}

// Grid
.row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 25px;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #header {
        [class*="col-"] {
            padding: 0px;
            margin: 0px;
            text-align: left;
        }
    } 
    }

  
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
  
@media only screen and (max-width: 768px) {
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
}

* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: 'Roboto', 'arial';
    
}

a, button {
    transition: all .5s;
}

#primarybutton {
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 15px 25px;
    border: none;
} #primarybutton:hover {
    background-color: $primary;
    cursor: pointer;
}

i {
    font-size: 20px;
}

h1 {
    text-transform: uppercase;
}

img {
    width: 100%;
}

/* Loading screen */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar */
#navbar {
    background-color: $primary;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    ul {
        list-style-type: none;
        margin: 0;
    }
    li {
        display: inline-block;
    }
    a {
        padding: 6px 2px;
        margin: 12px 12px;
        color: white;
        text-decoration: none;
        border-bottom: solid 2px $primary;
        cursor: pointer;
        float: left;
    }
    a:hover {
        border-bottom: solid 2px white;
    }
    #title {
        font-weight: bold;
        padding-right: 40px;
    }
    #right {
        float: right;
    }
    #navtoggle {
        display: none;
    }
    i {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 600px) {
    #navbar {
        background-color: $primary;
        margin: 0px;
        padding-top: 2px;
        padding-bottom: 0px;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        li {
            display: inline-block;
        }
        a {
            color: white;
            text-decoration: none;
            border-bottom: solid 2px $primary;
            cursor: pointer;
            float: left;
        }
        a:hover {
            border-bottom: solid 2px white;
        }
        #links {
            display: none;
        }
        #title {
            font-weight: bold;
            padding-right: 40px;
        }
        #right {
            float: right;
        }
        i {
            display: inline;
            margin-right: 0px;
        }
        #navtoggle {
            display: inline;
        }
    }
}


// Header
#header {
    margin: $pagemargin;
} 

// Tagline
#tagline {
    text-align: center;
    color: $primary;
    border-color: #333;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
}

// Projects
#projects {
    margin-top: $pagemargin + 30;
    margin-bottom: $pagemargin + 30;

a {
    color: $primary;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

} 
#carddesc {
    background-color: #F0F0F0;
    padding: 30px;
    margin: 0px 25px;
}
#projectbuttonsection {
    text-align: center;
} #rightarrow {
    font-size: 2rem;
    padding-right: 10px;
} #yarrow {
    font-size: 2rem;
    padding-right: 10px;
    padding-top: 10px;

    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  } #iconsection {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #rightarrow {
        display: none;
    }
    #smallsmall {
        display: none;
    }
    #smallsmallhide {
        display: none;
    }
    #carddesc [class*="col-"] {
        padding: 0px;
    }
}

@media only screen and (max-width: 284px) {
    /* For mobile phones: */
    #smallsmall {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
#projectbuttonsection h3 {
    display: none;
}
}

// 404
#noPage {
    background-color: #F0F0F0;
    border-radius: 5px;
    margin-left: 16.67%;
    margin-right: 16.67%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #noPage {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    #primarybutton {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #carddesc {
        margin: 0px;
    }
}

#carddesc p {
    border-left: solid 5px $primary;
    padding-left: 20px;
}

// #projectsSection img {
//     height: 10vh;
//     width: 10vh;
// }

#projectsSection {
    .col-6, .col-3 {
    padding: 0px 25px;
    } 
}

@keyframes example {
    0%   {top:0px;}
    50%  {top:20px;}
    100%   {top:0px;}
  }